{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <h1 class="mb-4">Cписок сторінок</h1>
  <p class="col-6">Мій учбовий проект для Full Stack розробника присвячений створенню власного резюме. Я навчився
    використовувати різноманітні інструменти та технології для створення професійного вигляду мого резюме, що допоможе
    мені виділитися серед інших кандидатів на посаду. Ми розглянули такі теми, як написання чіткого та зрозумілого опису
    досвіду роботи, використання HTML та CSS для створення привабливого дизайну та інтеграцію з базами даних для
    зберігання даних про мій досвід. Після успішного завершення проекту я мав готове резюме, яке можна використовувати
    для подачі заявок на різноманітні посади в сфері розробки програмного забезпечення.</p>
  <div class="row col-2 g-2 my-5">
    <a class="btn btn-primary" href="/summary">Resume Summary</a>
    <a class="btn btn-primary" href="/education">Resume Education</a>
    <a class="btn btn-primary" href="/skills">Resume Skills</a>
    <a class="btn btn-primary" href="/work">Resume Work</a>
    <a class="btn btn-primary" href="/person">Resume Person</a>
    <a class="btn btn-primary" href="/bio">Biography</a>
    <a class="btn btn-primary" href="/program">Program</a>
    <a class="btn btn-primary" href="/web">Web Languages</a>
    <a class="btn btn-primary" href="/js">JavaScript</a>


    <a class="btn btn-primary" href="/shophome">Shop Home</a>
    <a class="btn btn-primary" href="/shopproduct">Shop Product</a>
    <a class="btn btn-primary" href="/shopnews">Shop News</a>
    <a class="btn btn-primary" href="/shoporder">Shop Order</a>
    <a class="btn btn-primary" href="/shopcart">Shop Cart</a>
    <a class="btn btn-primary" href="/shopprofile">Shop Profile</a>
    <a class="btn btn-primary" href="/shopreview">Shop Review</a>
    <a class="btn btn-primary" href="/shopcatalog">Shop Catalog</a>

  </div>
  </div>
  </div>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}