{{#each cards}}
  <div class='col-4 g-2'>
    <div class='card'>
      <div class='card-img-top'>
        <img src='{{image}}' alt='{{image}}' />
      </div>
      <div class='card-body'>
        <div class='card-title'>{{title}}
          {{#if isHot}}<span
              class='badge text-bg-warning'
            >HOT</span>{{/if}}
          {{#if idNew}}<span
              class='badge text-bg-primary'
            >NEW</span>{{/if}}</div>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
{{/each}}